<form method="post" action="{{ path('app_sessionrevision_delete', {'id': sessionrevision.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet élément ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ sessionrevision.id) }}">
    <button type="submit" class="btn btn-danger">Supprimer</button>
</form>
